*{
    margin: 0%;
}

.page-wrapper{
    background-color: rgb(208, 208, 236);
    width: 50%;
    height: 70vh;
    margin: auto;
    margin-top: 7.5%;
    border-radius: 10px;
}

.top-wrapper{
    background-color:lime;
    width: 60%;
    height: 22%;
    margin: auto;
}

.mid-wrapper{
    background-color: burlywood;
    width: 60%;
    height: 56%;
    margin: auto;
}

.bottom-wrapper{
    background-color: rgb(192, 101, 41);
    width: 60%;
    height: 22%;
    margin: auto;
}